/* ზოგადი სტილები */
body { 
    font-family: 'FiraGO', 'BPG Nateli', sans-serif; 
    margin: 1; 
    background-color: #e0dddd; 
}
.content { 
    padding: 20px; 
}

/* ზედა ნავიგაცია (Header) */
.top-nav { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 30px; 
    background: #3d8a63; 
    color: white; 
}
.nav-left, .nav-right {
    flex: 1;
}
.nav-right {
    display: flex;
    justify-content: flex-end;
}
.nav-center {
    flex: 2;
    text-align: center;
}
.top-nav a { 
    color: white; 
    text-decoration: none; 
    font-size: 25px; 
    font-weight: bold; 
}
.search-bar { 
    padding: 10px; 
    width: 140%; 
    max-width: 500px;
    border-radius: 4px; 
    border: none; 
}
.cart-btn { 
    padding: 8px 15px; 
    margin-left: 20px; 
    cursor: pointer; 
    background-color: #438968; 
    border: none; 
    border-radius: 4px; 
    color: rgb(22, 160, 61); 
    font-weight: bold; 
}

/* პროდუქტების სია (Home Page) */
.product-grid { 
    display: flex; 
    gap: 20px; 
    flex-wrap: wrap; 
}
.product-card { 
    background: white; 
    padding: 15px; 
    border-radius: 8px; 
    width: 220px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.product-image { 
    width: 100%; 
    height: 180px; 
    object-fit: cover; 
    object-position: center;
    border-radius: 4px; 
}
.product-title { 
    margin: 10px 0 5px 0; 
    font-size: 1.2em; 
}
.product-brand { 
    margin: 0; 
    color: #555; 
}
.product-price { 
    font-weight: bold; 
    color: #2e7d32; 
    font-size: 18px; 
    margin: 10px 0;
}
.details-btn { 
    width: 100%; 
    padding: 8px; 
    background-color: #2196F3; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}
.details-btn:hover {
    background-color: #1976D2;
}

.title-link {
    text-decoration: none;
    color: #333;
}
.title-link:hover .product-title {
    color: #2196F3;
}

.product-rating {
    margin: 5px 0 15px 0;
    color: #ff9800;
    font-weight: bold;
}

.add-to-cart-btn { 
    width: 100%; 
    padding: 10px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-weight: bold;
    font-size: 14px;
}
.add-to-cart-btn:hover {
    background-color: #45a049;
}

.home-container {
    display: flex;
    gap: 50px;
}

.sidebar {
    width: 250px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(82, 156, 106, 0.1);
    align-self: flex-start;
}
.filter-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.filter-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #1d1f1d;
}
.filter-group select, .filter-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.filter-group select:focus, .filter-group input:focus {
    outline: none; 
    border-color: #3da759; 
    box-shadow: 0 0 5px rgba(70, 155, 83, 0.5); 
}
.filter-group input[type="range"] {
    accent-color: #349253;
}
.filter-btn {
    width: 100%;
    padding: 10px;
    background-color: #5d9a68;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}
.filter-btn:hover {
    background-color: #439851;
}

.main-content {
    flex: 2;
}

.no-products-message {
    width: 100%; 
    text-align: center; 
    padding: 40px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #666;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-products-message h3 {
    color: #298c3e;
}

/* კალათის Hover ჩამოსაშლელი სია */
.cart-dropdown-wrapper {
    position: relative;
    display: inline-block;
}

.cart-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 15px;
    background-color: white;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    border-radius: 4px;
    padding: 15px;
    color: black;
}

/* ამ კლასის მეშვეობით ხდება გამოჩენა მაუსის მიტანისას */
.cart-dropdown-wrapper:hover .cart-dropdown-content {
    display: block;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.dropdown-total {
    font-weight: bold;
    text-align: right;
    margin-top: 15px;
    color: #2e7d32;
    font-size: 16px;
}

/* გამოსვლის (Logout) აიკონის სტილები */
.logout-icon {
    color: #ff5252;
    font-size: 20px;
    margin-left: 5px;
    transition: color 0.3s ease, transform 0.2s ease;
}

.logout-icon:hover {
    color: #ff1744; /* მუქდება მაუსის მიტანისას */
    transform: scale(1.1); /* ოდნავ დიდდება */
}